{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Add note</title>

</head>

<body>

    {% block content %}

        <h1>New note</h1>
        <hr>

        {% if user.is_authenticated %}

            <div class="form-group">
                <form method="POST">

                    {% csrf_token %}
                    {{ form.as_p }}
                    
                    <button class="btn btn-light">Add note</button>
                    <a href="{% url 'home' %}" class="btn btn-light">Home</a>

                </form>
            </div>

            <script>

                var name = "{{ user.id }}";
                document.getElementById("user").value = name;

            </script>

        {% else %}

            <h1>You have to login to be able to add notes.</h1>

        {% endif %}

    {% endblock %}

</body>

</html>