{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Delete note</title>

</head>

<body>

    {% block content %}

    <h1>Delete note</h1>
    <hr>

    {% if user.is_authenticated %}
        
        {% if user.id == notes.author.id %}

        <div class="container">   
        
            <h3>{{ notes.title }}</h3>
            <p>{{ notes.body }}</p>
            <h4>Are you sure you want to delete this note?</h4>

            <div class="form-group">
                <form method="POST">

                    {% csrf_token %}

                    {{ form.media }}
                    {{ form.as_p }}
                    <button class="btn btn-light">Delete</button>
                    <a href="{% url 'notes' %}" class="btn btn-light">Go back</a>

                </form>
            </div>

        </div>

        {% else %}

        <div class="container">

            <h3>You do not have permission to delete this note.</h3>
            <a href="{% url 'home' %}" class="btn btn-light">Home</a>

        </div>

        {% endif %}

    {% else %}

        <div class="container">

            <h3>You have to login to be able to delete this note.</h3>
            <a href="{% url 'login' %}" class="btn btn-light">Login</a>
            <a href="{% url 'register' %}" class="btn btn-light">Register</a>
        
        </div>

    {% endif %}

    {% endblock %}

</body>

</html>