{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Edit note</title>

</head>

<body>

    {% block content %}

    <div class="container main">

    <h1>Edit note</h1>
    <hr>

    {% if user.is_authenticated %}
        {% if user.id == notes.author.id %}

            <div class="form-group">
                <form method="POST">

                    {% csrf_token %}

                    {{ form.media }}
                    {{ form.as_p }}
                    <button class="btn btn-success">Update</button>

                </form>
            </div>

        {% else %}

            <h3>You do not have permission to edit this note.</h3>
            <a href="{% url 'home' %}" class="btn btn-light">Home</a>

        {% endif %}

    {% else %}

        <h3>You have to login to be able to edit this note.</h3>
        <a href="{% url 'login' %}" class="btn btn-light">Login</a>
        <a href="{% url 'register' %}" class="btn btn-success">Register</a>

    {% endif %}

    </div>

    {% endblock %}

</body>

</html>